body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}
form {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 25px;
    width: 500px;
}
.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    text-align: center;
    
}
#username {
    padding: 10px;
    border-radius: 15px;

}
#password {
    padding: 10px;
    border-radius: 15px;
}
#submit {
    padding: 10px;
    border-radius: 15px;
    background-color: blue;
    color: white;
}